#main-section {
	padding: 2% 8%;
	box-sizing: border-box;
}

#main-heading {
	font-size: 36px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 48px;
}

#content-wrapper {
	/* display: flex;
	justify-content: start; */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-column-gap: 25px;
}

#content-wrapper > div:first-of-type {
	margin-top: 18px;
}

#content-wrapper > div:last-of-type {
	height: fit-content;
	margin-top: 62px;
	/* margin-left: 3%; */
	background-color: rgb(231, 226, 221);
	box-sizing: border-box;
	box-shadow: 0 2px 5px #ccc;
	border-radius: 5px;
	padding: 16px;
	/* margin: 0; */
}

.checkout-card {
	display: flex;
	box-sizing: border-box;
	box-shadow: 0 2px 5px #ccc;
	border-radius: 5px;
	background-color: rgb(231, 226, 221);
	max-width: 600px;
	padding: 16px;
	margin-bottom: 16px;
}

.checkout-product-img {
	width: 80px;
	min-width: 80px;
	border-radius: 5px;
	margin-right: 16px;
}

.checkout-card h4 {
	font-weight: 600;
	margin: 0;
	margin-bottom: 4px;
	font-size: 18px;
}

.checkout-card p {
	margin: 0;
	margin-top: 14px;
	margin-bottom: 4px;
}

.section-heading {
	font-size: 24px;
	color: rgba(0, 0, 0, 0.8);
	font-weight: 400;
	margin: 0;
	margin-bottom: 3px;
}

#total-amount {
	color: black;
	opacity: 0.8;
	font-size: 20px;
	font-weight: 800;
	margin-left: 4px;
}
.grandTotal {
	text-align: center;
}

#btn-place-order {
	background-color: #f09d51;
	font-size: 18px;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 12px 36px;
	border-radius: 6px;
	margin-top: 12px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
	color: white;
}
