.slick-slide {
	width: 100%;
	max-width: 1170px;
	margin: 0 80px;
}

/* @media screen and (max-width: 768px) {
	.slick-slide {
		width: 100px!important;
		height: 100px;
	}
} */

.slick-dots {
	list-style-type: none;
	width: 100%;
	max-width: 100px;
	text-align: center;
	margin: 0 auto;
}

.slick-dots li {
	display: inline-block;
}

.slick-dots button {
	display: inline-block;
	font-size: 0px;
	color: #ccc;
	background-color: #ccc;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 0;
	margin-left: 6px;
	margin-right: 6px;
	outline: none;
	cursor: pointer;
}

.slick-active button {
	background-color: #aaa;
}

.homepage-section {
	margin: 0 auto;
}

.section-heading {
	font-size: 20px;
	font-weight: 600;
	opacity: 0.8;
	margin: 20px auto;
	width: 90vw;
	max-width: 1170px;
}

.product-grid {
	width: 90vw;
	max-width: 1170px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	grid-column-gap: 1.5rem;
	grid-row-gap: 2rem;
	/* flex-wrap: wrap; */
}

.product-card {
	width: 100%;
	/* max-width: %; */
	box-sizing: border-box;
	box-shadow: 0 2px 5px #ccc;
	border-radius: 5px;
}

.product-card > a {
	text-decoration: none;
	color: black;
}

.product-image {
	width: 100%;
}

.product-meta {
	box-sizing: border-box;
	padding: 16px;
}

.product-meta > h4 {
	font-weight: 600;
	margin: 0;
	font-size: 16px;
}

.product-meta > h5 {
	font-weight: 600;
	opacity: 0.8;
	margin: 0;
	margin-top: 12px;
}

.product-meta > p {
	margin: 0;
	margin-top: 12px;
	font-weight: 600;
	color: #f09d51;
}
